body{
    max-width: 1200px;
    margin: 0 auto;
}


.hero-image{
    background: url('../images/dark-city.jpg');
    position: absolute;
    top: 0;
    
    background-size: cover;
    width: 88%;
    height: 90vh;
    z-index: -7;
    opacity: .75;
    background-position-y: 50% ;
   // background-position-x: 50;
        
}


.line{
    position: absolute; 
    content: "";
    width: 88%;
    height: 1px;
    border-bottom: 2px solid rgb(69, 119, 211) ;
    top: 110px;
}

.header{
    display: flex;
    margin: 1em;

    .logo{
        color: black;
        margin: 1em;
        margin-top: -19px;

        .logo1{
            font-weight: bold;
            font-size: 2rem;
            
        }

        .logo2{
            margin-top: -40px;
            font-size: 1rem;
        }

       
    }
    
    

    a{
        text-decoration: none;
        color: black;
    }
    
    nav{
        display: flex;
        gap: 300px;

        ul{
            list-style-type: none;
            display: flex;
            gap: .8em; //sets a gap between list items

        }

        a{
            font-size: 1.1rem;
        }

        a:before{
            position: absolute;
            content: "";
            width: 0%;
            height: 1px;
            border-bottom: 2px solid gray;
            top: 50px;
            transition: width .3s;
        
        }
    }
}

/* Main Section */

main{
    
    margin: 100px 200px;


    a{
        text-decoration: none;
        color: black;
    }

    ul{
        list-style-type: none;
       
    }

    h1{
        
        font-size: 3rem;
        color: black;
        opacity: 700;
        font-weight: bold;
        
    }

    .subhead{
        font-size: 2rem;
        margin-top: -40px;
        color:black;
    }

    .huge-border{
        background: gray;
    }

    /* Main Search */
    .main-search{

        section{
            background:#4169E1;
            padding: 1em 2em;
            opacity: .8;
        }
        /* Main Search 1 Places, Events */
        .ms-1{
            display: flex;
            gap: .1em;
            margin-left: -40px;
            opacity: .8;
            transition: transform 800ms;

            .ms-i1{
                background: #4169E1;
                padding: 1em 1.5em;
                color: white;
                transition: transform 800ms;
            }
            .ms-i2{
                background: #4169E1;
                padding: 1em 1.5em;
                color: white;
                transition: transform 800ms;
            }
        }

        h3{
            margin-top: -5px;
            font-size: 1.8rem;
            color: white;
        }

        /* Mains Search 2 destinations etc. */
        .ms-2{
            display: flex;
            gap: 2em;
            margin-left: -40px;
            transition: transform 800ms;

            .w-border{
                background: white;
                padding: 1em 1.5em;
                font-size: 1rem;

                svg{
                    transition: transform .1s;
                }

            }

            .s-purple{
                background: #1E90FF;
                padding: 1em 1.5em;
                color: white;
                transition: transform 800ms;
            }
        }
    }

}
.blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    cursor: pointer;
    
    
    .entertainment{
        background: #4169E1;
        padding: 2em;
        img{
            width: 50px;
        }
    }
}
.last-info{
    margin-left: 185px;
    margin-top: 80px;
    font-size: 1.3rem;

    .dorne{
        margin-top: -20px;
        margin-left: 155px;
        color: #4169E1;
    }
}

.dummy-text{
    margin-top: 80px;
    margin-left: 90px;
    opacity: .7;
}

    .purple{
        border-radius: 2em;
        background-color: #1E90FF;
        padding: .1em .35em;
        opacity: .69;
        transition: transform 800ms;
    }
    
  


/* MicroInteractions*/

 nav a:hover:before{
    width: 3%;

}

.purple:hover{
    background:white;
}
    


.w-border:hover svg{
    transform: translateY(-1px);
}


.ms-1:hover{
    transform: translateY(-10px);
}